.nav-container{

}

.nav-menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-basis: 200px;
}

.nav-menu-single{
    cursor: pointer;
}

.single-line{
    width: 100%;
    height: 1px;
    background-color: black;
}
