.nav_container{
    background-color: orange;
    margin-top: -16px;
}

.nav_menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-basis: 200px;
}

.nav_menu_single{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav_menu_single:hover{
   font-size: 25px;
}

.single_line{
    width: 100%;
    height: 1px;
    background-color: black;
}
